.homeLayout {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 1.6rem;

  .sideBar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 252px;
    transition: width 0.3s;
    height: 100vh;
    border-right: 1px solid #E8E8E8;

    .sideBarWrapper {
      width: 76px;
      height: 100vh;
      margin-right: 252px;
    }
  }

  .sidebarOpen {
    width: 252px;
  }

  .sidebarOpen {
    width: 76px;
  }

  .content {
    margin-left: 252px;
    height: calc(100vh - 65px);
    flex: 1;

    .body {
      height: 100%;
    }
  }

  .contentIsCollapsed {
    margin-left: 76px;
  }
}
