.project {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filter {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex: 1;
  height: 100%;
}

.views {

}
